.pokemon-list ul li {
    margin-top: 2em;
    list-style: none;
}

.MuiChip-root {
    margin: 0 1em;
}

#modalFrame {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border: solid 1px #555;
    box-shadow: 10px -10px 5px rgb(0 0 0 / 60%);
    -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px -10px 5px rgb(0 0 0 / 60%);
    -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
    border-radius: 45px 0 62px 0;
    outline: transparent;
    /*max-width: 60vw;*/
}

.ModalPokedex {
    outline: transparent;
}

.PokeInfo {
    margin: 2em auto;
    font-size: 2em;
    width: 50%;
    white-space: pre-line;
}


/*this will prevent the modal from beeing visible onpageload*/
#pageload {
    visibility: hidden;
    animation: cssAnimation 0s 5s forwards;
}

@keyframes cssAnimation {
    to {
        visibility: visible;
    }
}



.ModalPokedex .modal {
    outline: transparent;
}

.modal-content {
    background-color: whitesmoke;
    overflow-y: auto;
    max-height: 80%;
    border-radius: 45px 0 62px 0;
    outline: transparent;
    text-align: center;
    max-width: 800px;
    position: relative;

}

.line {
    width: 100px;
    margin: 14px auto -3px;
}

.ModalPokedex .close {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bolder;
    font-size: 35px;
    background-color: #cf283a;
    padding: 0 12px 3px 12px;
    border-radius: 0 0 0 10px;
}

.ModalPokedex .close:hover {
    cursor: pointer;
}

.ModalPokedex h3 {
    text-align: center;
    font-size: 1.7rem;
    margin-top: 1em;
}

.ModalPokedex span {
    font-weight: normal;
    font-size: 1.3rem;
}

.ModalPokedex .modal-content button {
    display: block;
    font-family: "Baloo Paaji 2", cursive;
    font-size: 1.2rem;
    background-color: #cf283a;
    color: #fff;
    padding: 0 3px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0px auto 25px;
    transition: all 0.1s ease-in-out;
}

.ModalPokedex .modal-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

 .ModalPokedex .modal-container {
        flex-direction: column;
 }

.modal-container .ButtonAndText {
width: 70% !important;
}
.ModalPokedex .modal-content button {
 display: flex;
margin: 25px auto;
padding: 3em;
}



.ModalPokedex button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*
The below selector will ensure we prevent Content Reflow From 'Lazy-Loading' Images.
This could be improoved much further, by applying the advice the below article offers:
 https://css-tricks.com/preventing-content-reflow-from-lazy-loaded-images/
 */
.ModalPokedex .modal-container .imagecontainer {
    background-color: darkseagreen;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: block;
    margin: 20px 10px 3em 0;

    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;

}

@media only screen and (min-width: 968px) {
    .ModalPokedex .modal-container .imagecontainer {
/*        width: 300px;
        max-width: 30vw;
        height: 300px;*/
    }
}


@media only screen and (max-width: 3968px) {
     .ModalPokedex .usual-attacks {
        flex-direction: column;
    }
    .ModalPokedex .modal-container .imagecontainer {
        width: 80% !important;
        margin: 13px 0 0 0;
    }
    .modal-container>div{
        width: 80% !important;
    }
}





.ModalPokedex img {
    max-width: 100%;
    height: auto;
    margin: 20px 10px 15px 0;
}


.ModalPokedex .MuiSvgIcon-root {
    width: 100px;
    height: 6em;
    cursor: pointer;
}

     .ModalPokedex img {
        width: 60vw;
        margin: 0;
        max-width: 222px;
    }


    .modal-container {
        position: relative;
}

    .ModalPokedex .MuiSvgIcon-root {
        width: 50px;
        height: 3em;
        cursor: pointer;
        position: absolute;
    }
    #modalFrame > div > div > div > div > svg:nth-child(1),
    #modalFrame > div > div > div > div > svg:nth-child(4) {
        top: 20%;
    }
    #modalFrame > div > div > div > div > svg:nth-child(1) {
        left: 1vw;
    }
    #modalFrame > div > div > div > div > svg:nth-child(4) {
        right: 1vw;
    }






@media screen and (min-width: 1300px) {

    .ModalPokedex .MuiSvgIcon-root {
        width: 80px;
        height: 6em;
    }
    #modalFrame > div > div > div > div > svg:nth-child(1),
    #modalFrame > div > div > div > div > svg:nth-child(4) {
        top: 3%;
    }
    #modalFrame > div > div > div > div > svg:nth-child(1) {
        left: 8%;
    }
    #modalFrame > div > div > div > div > svg:nth-child(4) {
        right: 8%;
    }


}




/* RIGHT PART */
.modal-container>div {
    width: 580px;
}

.modal-container>div>p {
    text-align: justify;
    font-size: 1.9em;
    margin: 0 2em;

}

/* STATS CONTAINER */

.modal-container .stats-container {
    display: flex;
    flex-wrap: wrap;
   background-color: rgb(143, 188, 143);
/*     background-color: #cf283a;*/
    font-size: 1.4rem;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

.stats-container {
    margin-top: 10px;
}

.simple-data {
    display: flex;
}

.stats-container h4 {
    margin: 10px;
    color: #313131;
}

.stats-container span {
    color: #fff;
}

.ModalPokedex .usual-attacks {
    display: flex;
    flex-direction: row;
    text-align: left;
}


.ModalPokedex ul {
    display: flex;
    margin-left: 10px;
    padding-inline-start: 0;
    margin: 10px;
}

.ModalPokedex li {
    list-style: none;
    margin-right: 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}



.modal-container .ButtonAndText {
    width: 280px;
}
.encodingIssue {
    white-space: pre-wrap;
    margin: 0 2em;
    height: 160px;
    text-align: center !important;
    width: 40%;
}


@media screen and (max-width: 800px) {
    .modal-content {
        margin-top: 120px;
        width: 100%;
        max-width: 95vw;
        margin: 0 auto;
    }
     .ModalPokedex .modal-content button  {
        margin: 20px auto !important;
        padding:  20px !important;
    }
     .mobileHide ,
    .stats-container h4,
    .encodingIssue {
    display: none;
    }
    .ModalPokedex ul {
    flex-direction: row;
    flex-flow: wrap;
    }
    .ModalPokedex li {
    list-style: none;
    margin-right: 0px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid whitesmoke;
    margin: 10px;
    padding: 10px;
    }
}


.attacks-list {

    justify-content: center;
}



@media screen and (max-width: 460px) {
    .ModalPokedex li {
    margin:  0px;
    }
}

@media screen and (max-width: 420px) {
    .ModalPokedex li {
    padding:  0px;
    }
}
@media screen and (max-width: 400px) {
    .ModalPokedex .usual-attacks {
        overflow: hidden;
    }
    .ModalPokedex ul {
       flex-flow:wrap;
    }
    .ModalPokedex li {
    border: unset;
    margin: 10px;
    padding:  0px;
    }
    .ModalPokedex li {
    width: 90px;
    }
}

@media screen and (max-width: 390px) {
    .ModalPokedex li {
    margin:  0px;
    }
}

@media screen and (max-width: 320px) {
    .ModalPokedex li:nth-child(n+3) {
        display: none;
    }

}
