.normal {
  color: #fff !important;
  background-color: #A8A77A !important;
}

.fire {
  color: #fff !important;
  background-color: #EE8130 !important;
}

.water {
  color: #fff !important;
  background-color: #6390F0 !important;
}

.electric {
  color: #fff !important;
  background-color: #F7D02C !important;
}

.grass {
  color: #fff !important;
  background-color: #7AC74C !important;
}

.ice {
  color: #fff !important;
  background-color: #96D9D6 !important;
}

.fighting {
  color: #fff !important;
  background-color: #C22E28 !important;
}

.poison {
  color: #fff !important;
  background-color: #A33EA1 !important;
}

.ground {
  color: #fff !important;
  background-color: #E2BF65 !important;
}

.flying {
  color: #fff !important;
  background-color: #A98FF3 !important;
}

.psychic {
  color: #fff !important;
  background-color: #F95587 !important;
}

.bug {
  color: #fff !important;
  background-color: #A6B91A !important;
}

.rock {
  color: #fff !important;
  background-color: #B6A136 !important;
}

.ghost {
  color: #fff !important;
  background-color: #735797 !important;
}

.dragon {
  color: #fff !important;
  background-color: #6F35FC !important;
}

.dark {
  color: #fff !important;
  background-color: #705746 !important;
}

.steel {
  color: #fff!important;
  background-color: #B7B7CE !important;
}

.fairy {
  color: #fff!important;
  background-color: #D685AD !important;
}