.normal {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.fire {
  color: rgba(87%, 32%, 23%, 1) !important;
  background-color: rgb(251, 226, 144) !important;
}

.water {
  color: rgb(191, 217, 255) !important;
  background-color: rgba(22%, 42%, 73%, 1) !important;
}

.electric {
  color: rgba(100%, 88%, 19%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.grass {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.ice {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.fighting {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.poison {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.ground {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.flying {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.psychic {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.bug {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.rock {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.ghost {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.dragon {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.dark {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}

.steel {
  color: rgba(22%, 42%, 73%, 1) !important;
  background-color: rgb(191, 217, 255) !important;
}