.header-form {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-button {
  width: 10rem;
  height: 4.6rem;
  margin-right: 1rem;
  padding-top: 0.7rem;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 1.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.search-submit-button {
  width: 10rem;
  height: 4.6rem;
  padding-top: 0.7rem;
  margin-left: 1rem;
  font-size: 2.5rem;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border: 3px solid black;
  text-align: center;
  border-radius: 1.5rem;
  cursor: pointer;
}

.home-button:hover,
.search-submit-button:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
}

/* Custom Search Bar Styling*/

.MuiAutocomplete-root {
  background-color: #fff;
  height: 5.6rem !important;
  border-radius: 1.5rem !important;
}

.MuiInputBase-root {
  font-size: 3rem;
}

.MuiOutlinedInput-notchedOutline{
  color: #000 !important;
  font-size: 1.5rem;
}

.MuiSvgIcon-root {
  width: 1.5em !important;
  height: 1.5em !important;
  color: #000;
}

.MuiFormLabel-root {
  font-size: 2rem !important;
}

.MuiFormLabel-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  color: #000 !important;
  font-size: 2rem !important;
  border-color: rgb(0, 0, 0)!important;
  border-width: 3px !important;
  border-radius: 1.5rem !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  padding: 0 !important;
}

#combo-box-demo {
    color: #000;
    height: 4.7rem;
    font-size: 2.5rem;
}

#combo-box-demo-popup {
  font-size: 2rem;
}
