@media only screen and (max-width: 1360px) {
        /*MOBILE DEFINITION AT 1360 or less */
}

.animationtime {
    position: relative;
    top: -50px;
    font-size: 5rem;
}

.counterDesign {
    font-size: 6rem;
    color: #396bba;
    text-transform: capitalize;
}

.fightWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
}

.wrapperPane {
    /*background-color: blue;*/
    width: 33vw;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.history, .tableOfContent {
    font-size: 4rem;
    color: #396bba;
    /* text-transform: capitalize; */
}

.toc, .tocLabel {
    font-size: 2rem;
}

#history, #tableOfContent {
    display: block;
    opacity: 1;
}

ul {
  list-style: none;
} 

.winner {
  color: #ffe031;
  font-weight: 600;
  background-color: #396bba;
}

.winner::before, .winner::after {
  content: "\2606";
  font-weight: 200;
}

.pokefight-wrapper {
    height: 46rem;
    max-width: 60em;
    background: url("https://cutewallpaper.org/21/battle-backgrounds/Free-download-Pokemon-Battle-Background-The-background-.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
    border-radius: 2rem;
}

.pokefight-top-wrapper,
.pokefight-bot-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pokefight-top-wrapper {
    justify-content: flex-end;
}

.pokefight-bot-img,
.pokefight-top-img {
    width: 35%;
}

.pokefight-bot-img {
    margin-left: 2rem;
    animation: tilt .4s linear infinite alternate;
    animation: botAttack 1s ease-out 3;
}

.pokefight-top-img {
    margin-top: 5rem;
    animation: tilt .4s linear infinite alternate;
    animation: topAttack 1s ease-out 3;
}

.pokefight-bot-name-wrapper,
.pokefight-top-name-wrapper {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 1rem;
}

.pokefight-bot-name-wrapper h2,
.pokefight-top-name-wrapper h2 {
    width: 50%;
    font-size: 1.8rem;
}

#hp{
    width: 45%;
    margin: 3% 2.5%;
    background-color: rgb(70, 230, 21);
    text-align: center;
    border-radius: 1rem;
    border: 1px solid #000;
}

.pokefight-stats {
    width: 50%;
    font-size: 1.5rem;
}

.poke-audio {
    margin: 0 auto;
}


@keyframes tilt {
    from { transform: rotate(3deg)}
    to { transform: rotate(-3deg)}
  }

@keyframes topAttack {
    0% {
        transform: translateX(0) translateY(0); 
    }
    50%{
        transform: translateX(0) translateY(0);
    }

    75% {
        transform: translateX(-120%) translateY(80%) rotateZ(-15deg);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes botAttack {
    0% {
        transform: translateX(0) translateY(0) rotatez(5deg);
    }
    25%{
        transform: translateX(120%) translateY(-80%) rotatez(15deg);
    }
    50% {
        transform: translateX(0) translateY(0) rotatez(5deg);
    }

    100% {
        transform: translateX(0) translateY(0) rotatez(5deg);
    }
}