.pokefight-wrapper {
    min-height: 30rem;
    width: 60rem;
    margin: 0 auto;
    background: url("https://cutewallpaper.org/21/battle-backgrounds/Free-download-Pokemon-Battle-Background-The-background-.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
    border-radius: 2rem;
}

.pokefight-top-wrapper,
.pokefight-bot-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pokefight-top-wrapper {
    justify-content: flex-end;
}

.pokefight-bot-img,
.pokefight-top-img {
    width: 35%;
}